<!DOCTYPE html>
<html>
    <head>
        <title>HGB Super Secret Scrapper</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css" />
    </head>
    <body>
        <div class="container">
            <h1 align="center">HGB Super Secret Scrapper</h1>
            <div class="row">
                <div class="col-md-6">
                    <label>Select Guitar Brand</label>
                    <select name="brand" data-live-search="true" id="brand" class="form-control" title="Select Guitar Brand">
                    {% for row in brands %}
                    <option value="{{row[0]}}">{{row[0]}}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
        <script>
            $("#car_brand").selectpicker();

            $(document).on("change", "#brand", function () {
                var brand_name = $("#brand").val();
                window.location.href = "/brands?name=" + brand_name;
            });
        </script>
    </body>
</html>